<div class="container">
    <h2 class="">
        Cadastrar novo aluno
    </h2>
    <section class="contact__container">
        <form class="contact-form form"  [formGroup]="newAlunoForm" (submit)="onSubmit()">
    
            <p>
                <mat-form-field class="full-width">
                    <mat-label>NOME COMPLETO</mat-label>
                    <input matInput type="text" formControlName="nome">
                    <button *ngIf="newAlunoForm.get('nome')?.value !== ''" 
                            matSuffix 
                            mat-icon-button 
                            aria-label="Clear" 
                            (click)="clearNomeField()">
                        <mat-icon>clear</mat-icon>
                    </button>
                </mat-form-field>
            </p>
    
            <p>
                <mat-form-field class="full-width">
                    <mat-label>CPF: 000.000.000-00</mat-label>
                    <input matInput type="text" formControlName="cpf">
                    <button *ngIf="newAlunoForm.get('cpf')?.value !== ''" 
                            matSuffix 
                            mat-icon-button 
                            aria-label="Clear" 
                            (click)="clearCPFField()">
                        <mat-icon>clear</mat-icon>
                    </button>
                </mat-form-field>
            </p>     
            
            <p>
                <mat-form-field class="full-width">
                    <mat-label>BAIRRO</mat-label>
                    <input matInput type="text" formControlName="bairro">
                    <button *ngIf="newAlunoForm.get('cpf')?.value !== ''" 
                            matSuffix 
                            mat-icon-button 
                            aria-label="Clear" 
                            (click)="clearBairroField()">
                        <mat-icon>clear</mat-icon>
                    </button>
                </mat-form-field>
            </p> 
            
            <p>
                <mat-form-field class="example-full-width">
                    <mat-label>Choose a date</mat-label>
                    <input matInput 
                        [min]="getMinimumDate()" [max]="getMaximummDate()" 
                        [matDatepicker]="picker"
                        formControlName="dataDeNascimento">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </p>
            <button mat-raised-button type="submit()" routerLink="">
                Cadastrar
            </button>
        </form>
    </section>
</div>